* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.titulo {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.cont-nav {
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
    
}
.nav-principal {    
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.fila-nav {
    max-width: 800px;
    margin: 0 auto;
    
}

section {
    margin: 50px;

}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.cabecero {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(fondo.png), #7b4397;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430)
}

.registro {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.registro_titulo{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.formulario_1 {
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.entidad {
    background-color: #28b9b5;
}

.fecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ingresos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.egresos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.agregar_contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}